/**
 * Portrait Extra Data Styles
 * Styling for data badges displayed around the portrait
 * Based on bg3-inspired-hotbar extra-info styling
 */

/* Container for all data badges */
#bg3-hotbar-container .portrait-data-badges {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Individual data badge */
#bg3-hotbar-container .portrait-data-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    position: absolute;
    z-index: 20;
    text-shadow: var(--shadow-text-stroke, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000);
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    transform: unset;
    pointer-events: auto;
}

#bg3-hotbar-container .portrait-data-badge .badge-value {
    z-index: 1;
    line-height: 1.5em;
}

#bg3-hotbar-container .portrait-data-badge i {
    font-size: xx-large;
    position: absolute;
    z-index: 0;
    opacity: 0.7;
}

/* Position classes - Top Left (0) */
#bg3-hotbar-container .portrait-data-badge.position-0 {
    top: 5px;
    left: 25px;
}

/* Position classes - Top Right (1) */
#bg3-hotbar-container .portrait-data-badge.position-1 {
    top: 5px;
    right: 25px;
}

/* Position classes - Middle Left (2) */
#bg3-hotbar-container .portrait-data-badge.position-2 {
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

/* Position classes - Middle Right (3) */
#bg3-hotbar-container .portrait-data-badge.position-3 {
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}

/* Position classes - Bottom Left (4) */
#bg3-hotbar-container .portrait-data-badge.position-4 {
    bottom: 5px;
    left: 25px;
}

/* Position classes - Bottom Right (5) */
#bg3-hotbar-container .portrait-data-badge.position-5 {
    bottom: 5px;
    right: 25px;
}